<div class="flex flex-column w-screen h-screen place-content-center items-center bg-local align-items-center justify-content-center"
    style="background-image: url('./assets/images/bgg.png');
background-repeat: repeat;width: 100%;
  height: 100%;">

    <div class="card sm:w-11 md:w-8 lg:w-4 xl:w-3">
        <span class="text-700 text-xl">Wellcome !</span>
        <div class="text-900 font-bold text-4xl my-2">SMART IPD 🚀</div>
        <p class="text-700 text-xl mt-0 mb-4 p-0">Your smart platform Healty system.
        </p>
        <div style="height:3px;background:linear-gradient(90deg, var(--primary-color) 0%, rgba(33, 150, 243, 0) 50%);">
        </div>

        <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
            <div class="mb-3 sm:mb-0">
                <span class="font-medium text-xl text-900 mr-2">เข้าสู่ระบบ</span>
                <span class="font-medium text-xl text-blue-500">####</span>
            </div>
            <div>
                <!-- <button pButton pRipple label="Details" icon="pi pi-list"
                    class="p-button-outlined p-button-primary mr-2"></button>
                <button pButton pRipple label="Print" icon="pi pi-print"
                    class="p-button-outlined p-button-primary"></button> -->
            </div>
        </div>
        <div class="border-round surface-border border-1">

        </div>
        <br>
        <br>
        <div class="flex flex-column mt-10 pb-3  w-full ">
            <div class="w-full bg-green-100 mx-10">
                <form method="POST" name="form" [formGroup]="validateForm" (ngSubmit)="onSubmit()" class="w-full ">
                    <div class="w-full">
                        <p-messages></p-messages>
                    </div>
                    
                    <div class="w-full">
                        <span class="p-input-icon-left col-12">
                            <i class="pi pi-user ml-4"></i>
                            <input type="text" id="username" name="username" formControlName="username" required
                                pInputText placeholder="Username" class="col-12">
                        </span>
                    </div>
                    <div class="w-full">
                        <span class="p-input-icon-left col-12">
                            <i class="pi pi-key ml-4"></i>
                            <input type="password" formControlName="password" pInputText placeholder="Password"
                            class="col-12">

                        </span>
                    </div>
                    <br>
                    <div class="flex w-full align-items-center justify-content-center items-center">

                        <p-button label="เข้าสู่ระบบ" type="submit" [loading]="loading"></p-button>
                    </div>
                    <br>

                </form>
            </div>
            <div class="w-full align-items-center justify-content-center">
                <span class="text-color-secondary text-center mb-4">or sign in with below</span>
            </div>
            <div class="flex gap-4 align-items-center justify-content-center">
                <a href="https://www.facebook.com"
                    class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                    <i class="pi pi-facebook text-2xl text-color"></i>
                </a>
                <a href="https://www.twitter.com"
                    class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                    <i class="pi pi-twitter text-2xl text-color"></i>
                </a>
                <a href="https://www.google.com"
                    class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                    <i class="pi pi-google text-2xl text-color"></i>
                </a>
                <a href="https://www.github.com"
                    class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                    <i class="pi pi-github text-2xl text-color"></i>
                </a>
            </div>

        </div>
    </div>

    <!-- <div class="surface-ground h-screen w-screen flex align-items-center justify-content-center"
        [ngClass]="{'p-input-filled': filledInput}"> -->



    <!-- </div> -->
</div>

<app-config [minimal]="true"></app-config>