div.options > div > label > input {
    visibility: hidden;
}

div.options > div > label {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    height: 20px;
    // width: 150px;
    
    
}

div.options > div > label > img {
    display: inline-block;
    padding: 0px;
    height:25px;
    width:25px;
    background: none;
    border-radius: 6px;
    border: 1px solid rgb(212, 212, 222);
}

div.options > div > label > input:checked +img {  
    background: url('../../../../assets/images/checked.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size:25px 25px;
    border-radius: 6px;
    border: 1px solid ;

}

:host ::ng-deep {
    .speeddial-linear-demo {
        .p-speeddial-direction-up {
            left: calc(50% - 2rem);
            bottom: 0;
        }

        .p-speeddial-direction-down {
            left: calc(50% - 2rem);
            top: 0;
        }

        .p-speeddial-direction-left {
            right: 0;
            top: calc(50% - 2rem);
        }

        .p-speeddial-direction-right {
            left: 0;
            top: calc(50% - 2rem);
        }
    }
}
